/* no CSS pode-se criar variáveis por exemplo para armazenar cores */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 10px;
    color: #d10e0e;
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    font-size: 20px;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #d10e0e;
}

/* filme principal #E50914 background-size: cover background-size: 1366px 728px; */
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/filmes1_wallpaper.jpg');
    background-size: cover;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 630px;
}

.titulo-elenco {
    width: 28%;
    margin-left: 10px;
    margin-top: 4% !important;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #FFD800;
}

.elenco {
    margin-left: 10px;
    margin-bottom: 360px;
}

.owl-carousel img {
	height: 320px;
}

.filme-principal .descricao {
    width: 28%;
    height: 320px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 14%;
    margin-bottom: 40px;
    text-align: justify;
    color: white;
    font-size: 18px;
}

.filme-principal .player {
    position: absolute;
    max-width: 62% !important;
    width: 62%;
    height: 320px;
    margin-left: 33%;
    margin-right: 5%;
    margin-top: 4% !important;
    border: 3px solid white;
}

.box-filme {
    margin-top: 15px;
    height: 100%;
    width: 100%;
    display: block;
}

.owl-stage-outer {
    max-height: 330px;
}

.titulo {
    width: 28%;
    text-align: center;
    margin-top: 4%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #FFD800;
}

h1 {
    width: 28%;
    text-align: center;
    margin-top: 4%;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #FFD800;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 14px;
    margin-left: 9px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s ease all;
}

.botao:hover {
    background-color:white;
    color: black;
}

#divDescricao p {
    padding: 20px;
    position: relative;
    margin-top: 50px;
    width: 28%;
    height: 340px !important;
    margin-left: 10px;
    margin-right: 5px;
}

.botao i {
    margin-right: 8px;
}

#owl-demo .item{
    background: #a1def8;
    padding: 30px 0px;
    display: block;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }

  #documentarios .item {
    background: black;;
    padding: 10px 0px;
    display: inline-flex;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    width: 100%;
}

#filmes .item {
    background: black;
    padding: 10px 0px;
    display: inline-flex;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    width: 100%;
}

#series .item {
    background: black;
    padding: 10px 0px;
    display: inline-flex;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    width: 100%;
}

.owl-stage {
    margin-top: 15px;
}

.owl-item {
    cursor: pointer;
}

#btnPrev1, #btnPrev2, #btnPrev3 {
    margin-top: 15px;
    position: relative;
    z-index: 10000;
    width: 35px;
}

#btnNext1, #btnNext2, #btnNext3 {
    margin-top: -19px;
    position: relative;
    z-index: 10000;
    width: 35px;
}

#btnPrev1, #btnPrev2, #btnPrev3 {
    margin-left: 46%;
}

#btnNext1, #btnNext2, #btnNext3 {
    margin-left: 52%;
}
.navegacao {
    margin: 15px;
}